# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

*_REM.TXT
*RET.TXT

*.dcu

/cms.golang.jd
.env
cms.golang.teste.arquivos/cms.golang.teste.arquivos.viper/.env
cms.golang.tnb/cms.golang.tnb.yahoo.cotacao/.env
cms.golang.tnb/cms.golang.tnb.yahoo.cotacao/.env
cms.golang.teste.api/cms.golang.teste.api.chi/data

cms.golang.teste.messageria/cms.golang.teste.rabittmq.grafana.prometheus/grafana/data
cms.golang.teste.messageria/cms.golang.teste.rabittmq.grafana.prometheus/mysql
cms.golang.teste.messageria/cms.golang.teste.rabittmq.grafana.prometheus/prometheus/data
cms.golang.teste.messageria/cms.golang.teste.rabittmq.grafana.prometheus/rabbitmq

cms.golang.teste.api/rinha-backend-2024/data